# ==========================
# HELP
# 1=DONT USE MINUS in moduleNames!!! this and all next moduls will not applyed!!!
#   ??? - after 'pytest-asyncio' its works ok! 'pytest_asyncio' - not working(module not exists)!
#   1. ide check installed - working!??
#   2. ide install - working!??
#   3. pip install - working??
# 2=how to install
#   pip install -r .\requirements.txt               # without upgrade option is not enough!
#   pip install -u -r .\requirements.txt            # just -u may not be recognized
#   pip install --upgrade -r .\requirements.txt     # full "--upgrate" is the best way!

# --------------------------
# VERSION = (0, 1, 0)   # combine all modules into one
# VERSION = (0, 1, 1)   # add comments for Lincenses
# VERSION = (0, 1, 2)   # add pytest-asyncio
# VERSION = (0, 1, 3)   # separate special_occasion/common/COMMUNICATE +add aioserial/base_aux
# VERSION = (0, 1, 4)   # separate DEVOPS, add testcontainers
# VERSION = (0, 1, 5)   # add plagins pytest-cov/dependency
# VERSION = (0, 1, 6)   # separate SERVERS block

# ==========================
# base ---------------------
#base_aux    #MIT

# deploy -------------------
build       #MIT
twine       #Apache2
setuptools  #MIT

# debug/test ---------------
pytest              #MIT
pytest-cov          #MIT
pytest-asyncio      #Apache2.0
pytest-dependency   #MIT

testcontainers      #Apache2.0 #docker

# DEVOPS -------------------
gitpython   #BSD3
docker      #Apache
psutil      #BSD-3-Clause

# COMMUNICATE --------------
pyserial    #BSD3
# aioserial #OSI Approved (MPL-2.0)    =pyserial-asyncio
smbus2      #MIT/linuxOnly
telebot     #GPL2

# SERVERS -------------------
jinja2      #OSI Approved :: BSD License
python-multipart  #OSI Approved :: Apache Software License= может потребоваться для форм

requests    #Apache2
aiohttp     #Apache2
FastAPI     #MIT
uvicorn     #BSD3

# COMMON -------------------
numpy       #BSD

PyQt5       #GPL3

PyYAML      #MIT
pydantic    #MIT

bs4         #MIT

# ==========================
# SPECIAL OCCASION ---------


# ==========================
