# ==========================
# RULES
# 1=DONT USE MINUS in moduleNames!!! thi and all next moduls will not applyed!!!
# 2=how to install
#   pip install -r .\requirements.txt               # without upgrade option is not enough!
#   pip install -u -r .\requirements.txt            # just -u may not be recognized
#   pip install --upgrade -r .\requirements.txt     # full "--upgrate" is the best way!

# --------------------------
# VERSION = (0, 0, 1)   # just add version
# VERSION = (0, 0, 2)   # add funcs-aux
# VERSION = (0, 0, 3)   # add block NESTED REQUIREMENTS
# VERSION = (0, 0, 4)   # add loggers-aux
# VERSION = (0, 0, 5)   # add pytest-aux
# VERSION = (0, 0, 6)   # add nested in COMMON
# VERSION = (0, 0, 7)   # add new block TESTS +add classes into COMMON
# VERSION = (0, 0, 8)   # add [deploy]build+twine+setuptools+cli +add singleton-meta in common/rename common to BASE/regroup subsets
# VERSION = (0, 0, 9)   # fix names without Minus!
# VERSION = (0, 0, 10)  # add installation note
# VERSION = (0, 1, 0)   # combine all modules into one
# VERSION = (0, 1, 1)   # add comments for Lincenses

# ==========================
# deploy -------------------
build       #MIT
twine       #Apache2
setuptools  #MIT

# debug/test ---------------
pytest      #MIT

# SPECIAL ------------------
numpy       #BSD

pyserial    #BSD3
smbus2      #MIT/linuxOnly
telebot     #GPL2

PyQt5       #GPL3

aiohttp     #Apache2
FastAPI     #MIT
requests    #Apache2
uvicorn     #BSD3

PyYAML      #MIT
pydantic    #MIT

bs4         #MIT

gitpython   #BSD3

# ==========================
