<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детальная информация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="id__details_panel" class="cls__details_panel">
        <div id="id__details_content">...</div>
    </div>

    <script src="/static/_header.js?v=<?= filemtime('/static/_header.js') ?>" data-comment="place to last position right before bodyTag closing"></script>
    <script src="/static/_service_details.js?v=<?= filemtime('/static/_service_details.js') ?>"></script>
</body>
</html>