<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детальная информация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <script src="/static/_add_top__service_details.js?v=<?= filemtime('/static/_add_top__service_details.js') ?>"></script>
    <script src="/static/_add_top__service_header.js?v=<?= filemtime('/static/_add_top__service_header.js') ?>" data-comment="place to last position right before bodyTag closing"></script>
</body>
</html>