base_aux

# SPECIAL ------------------
numpy<2
# 2024.11.04
#Traceback (most recent call last):  File "C:\!_HPN277SR\!!!_GD_additional\!_base_aux\base_aux\stock\explore_indicators.py", line 2, in <module>
#     import MetaTrader5 as mt5
#   File "C:\Python3127x64\Lib\site-packages\MetaTrader5\__init__.py", line 258, in <module>
#     from ._core import *
# Traceback (most recent call last):
#   File "C:\Python3127x64\Lib\site-packages\numpy\core\_multiarray_umath.py", line 44, in __getattr__
#     raise ImportError(msg)
# ImportError:
# A module that was compiled using NumPy 1.x cannot be run in
# NumPy 2.1.3 as it may crash. To support both 1.x and 2.x
# versions of NumPy, modules must be compiled with NumPy 2.0.
# Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.
#
# If you are a user of the module, the easiest solution will be to
# downgrade to 'numpy<2' or try to upgrade the affected module.
# We expect that some modules will need time to support NumPy 2.

pytz
pandas

# === TRADING ===
MetaTrader5
# py3.11x32=not working!
# py3.11.0x64=not working!
# py3.11.4x64=working!
# 3.10x32/64 work!


# === TA ===
# TA-Lib - don't use anymore! use direct pandas! make your own TA class!!! or another ready to use!!!
pandas_ta
